{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{thispost.title}}</title>
    {% tailwind_css %} {% load bootstrap5 %} {% bootstrap_css %}
    {%bootstrap_javascript %} {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >
  </head>
  <body class="" style="background-image: linear-gradient(to right bottom,rgba(251, 222, 222, 0.8), rgba(217, 245, 244, 0.88), rgba(249, 241, 217, 0.88)); background-attachment:fixed">
    {% include "navbar.html" %}
    <div class="flex items-center justify-center h-full mt-4 mx-0 my-0">
        <div
          class="max-w-3xl card w-full p-4 bg-white rounded-lg shadow-md flex-shrink-0"
        >
        <div class="card-header">
          <a
            href="{% url 'stream' %}"
            class="text-blue-500 hover:underline mb-2 inline-block"
            >Back to stream</a
            >
            <h1 class="text-2xl font-bold">
              Post title: {{ thispost.title }} made by {{thispost.author.username}}
            </h1>
            <a href="{% url 'post_like' thispost.id2 %}" class="btn btn-secondary">Like post<span class="ml-2 text-gray-600 badge badge-success">{{ thispost.liked.count }}</span></a>
        </div>
        <div class="card-body">
          <h4 class="mb-2">Description:</h4>
          <p>{{ thispost.description }}</p>
          <hr>
          <div id="visibility"><h4>Visibility:</h4><span><strong>({{ thispost.visibility|lower }})</strong></span></div>
          <hr>
          {% if thispost.contentType|lower == 'image/png;base64' or thispost.contentType|lower == 'image/jpeg;base64' %}
          <h4>Content (an image)</h4>
          <img
            src="{{ thispost.image.url }}"
            class="mt-4"
            width="300"
            height="300"
          />
          {% elif thispost.contentType|lower == 'hyperlink' %}


        <script>
          var val = "{{thispost.content}}";
          let loc = val;
          document.write('<a href="' + loc + '"> your image </a>');
        </script>

        {% else %} {% if thispost.contentType|lower == 'markdown' %}
        <h4>Content (markdown)</h4>
        <div class="mt-4 markdown-style">
          <!-- markdown post -->
          {{ thispost.contentMarkdown|safe }}
        </div>
        {% elif thispost.contentType|lower == 'plain' %}
        <h4 id="contentWarning">Content</h4>
        <div class="mt-2 plain-post-style">
          {{ thispost.contentPlain|safe }}
        </div>
      {% endif %} {% endif %}
      </div>
      <div class="card-footer">
      <h4>Comments</h4>
      <hr>
      {% if comments %}
        {% for comment in comments %}
        {% if comment.author == request.user and thispost.visibility == 'FRIENDS' %}
          <div class="card max-w-4xl mt-2 w-full">
            <div class="card-header">
              <h5>Commented by <strong>{{ comment.author.username }}</strong> on {{ comment.published }}</h5>
            </div>
            <div class="card-body">
              {% if comment.contentType|lower == 'plain' %}
                <p>{{ comment.contentPlain|safe }}</p>
              {% elif comment.contentType|lower == 'markdown' %}
                  <p>{{ comment.contentMarkdown|safe }}</p>
              {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'comment_edit' thispost.id2 comment.id2 %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'comment_delete' thispost.id2 comment.id2 %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'comment_like' thispost.id2 comment.id2 %}" class="btn btn-primary text-blue-500">Like<span class="badge badge-light">{{ comment.liked.count }}</span></a>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No comments yet.</p>
        {% endif %} {% if not form %}
        <a href="{% url 'comment_display' thispost.id2 %}" class="btn btn-success w-full mt-4">Write a comment</a>
        {% else %}
        <form action="" method="POST">
          {% csrf_token %} {% bootstrap_form form %}
          <input
            type="submit"
            value="Post the Comment"
            class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4 block w-full"
          />
        </form>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  </body>
</html> 