{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete</title>
    {% tailwind_css %} {% load bootstrap5 %} {% bootstrap_css %}
    {%bootstrap_javascript %} {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >
  </head>
  <body class="flex items-center justify-center h-screen p-4 bg-gray-100" class="h-screen overflow-hidden" style="background-image: linear-gradient(to right bottom,rgba(250, 172, 172, 0.8), rgba(84, 180, 177, 0.88), rgba(253, 228, 160, 0.88))">
    <div class="max-w-md w-full p-6 bg-white rounded-md shadow-md">
      <a
        href="{% url 'stream' %}"
        class="text-blue-500 hover:underline mb-4 block"
        >Cancel</a
      >
      <form method="POST" action="" class="mb-4">
        {% csrf_token %}
        <p class="text-lg font-semibold mb-4">
          Are you sure you want to delete "{{post.title}}"?
        </p>
        <button
          type="submit"
          class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-200"
        >
          Delete
        </button>
      </form>
    </div>
  </body>
</html>
